# My Jupyter notebook

This is a final assignment for Tools for Data Science

<ol>
<li>Python</li>
<li>SQL</li>
<li>R</li>
</ol>

<ol>
<li>Pandas</li>
<li>TensorFlow</li>
<li>Matplotlib</li>
<li>Keras</li>
</ol>

<ol>
<li>MATLAB</li>
<li>Apache Spark</li>
<li>Excel</li>
<li>SPSS</li>
</ol>

introducing arithmetic expression

In [4]:
1+1
2*2

4

In [10]:
hour = float(input("input time in hours: "))
time_in_minutes = hour*60
print(time_in_minutes)

input time in hours:  3

180.0

this is an objectives
<ul>
<li>Data science is used to analyse data</li>
</ul>

Author's name: Manh Tung Vu